<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Palm Card Generator</title>
    <style>
        .center {
          margin: auto;
          width: 60%;
          padding: 10px;
        }
        </style>
  </head>
  <body>
    <div class="center">
    <form method="post" id="speechInputForm">
        Enter Speech Here <br>
        <textarea rows="20" cols="100" name="speech" form="speechInputForm"></textarea><br>
        <input type="submit">
    </form>
    </div>
  </body>
</html>